$color1: #042A2B; //Rich Black
$color2: #5EB1BF; //Maximum Blue
$color3: #CDEDF6; //Light Cyan
$color4: #D84727; //Vermilion
$color5: #EF7B45; //Mandarin

$small: '576px';
$medium: '768px';
$large: '992px';
$x-large: '1200px';
$xx-large: '1400px';