@import '_variables';

.color1{
    background-color: $color1;
}

.color2{
    background-color: $color2;
}

.color3{
    background-color: $color3;
}

.color4{
    background-color: $color4;
}

.color5{
    background-color: $color5;
}

.txt-color1{
    color: $color1;
}

.txt-color2{
    color: $color2;
}

.txt-color3{
    color: $color3;
}

.txt-color4{
    color: $color4;
}

.txt-color5{
    color: $color5;
}